.img {
    width: 75%;
    height: 75%
}

.box {
    border: 5px solid white;
    height: 10vh;
    width: 10vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.gamePieceContainer {
    background-color: white;
    display: flex;
    padding: 5px;
    margin: 5px;
    align-items: center;
    justify-content: center;
}